*::selection {
    color: #ffffff;
    background-color: rgba(151, 0, 160, .7);
}
.w {
    width: 1190px;
    margin:0 auto;
}
.style_coffee {
    color: #9700a0!important;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
li {
    list-style: none;
}
body, ul, ol{
    margin: 0;
    padding: 0;
}
em {
    font-style: normal;
}
i {
    font-style: normal;
    font-family: icomoon;
}
a {
    text-decoration: none;
}
h1, h5, p {
    margin: 0;
}
input, button {
    padding: 0;
}
.index {
    background-color: #f0f3ef;
}

.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    *zoom:1;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?mdvavb');
    src:  url('../fonts/icomoon.eot?mdvavb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mdvavb') format('truetype'),
    url('../fonts/icomoon.woff?mdvavb') format('woff'),
    url('../fonts/icomoon.svg?mdvavb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.J_event {
    height: 80px;
    background-color: #000000;
}
.J_event a {
    display: block;
    height: 80px;
    background: url("../images/top.jpg") no-repeat;
    position: relative;
}
.J_event a i {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 20px;
}

.shortcut{
    color: #999999;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #dddddd;
}
.shortcut .fr li {
    float: left;
}
.shortcut a{
    color: #999999;
    font-size: 12px;
}
.shortcut a:hover{
    color: #9700a0;
}
.shortcut .fr .spacer {
    height: 10px;
    width: 1px;
    margin: 10px 10px 0;
    background-color: #cccccc;
}
.shortcut .mobile a {
    margin-right: 10px;
}
.shortcut .fl li {
    margin-left: 210px;
    height: 30px;
    overflow: hidden;
}
.shortcut .fl i {
    font-size: 14px;
    color: #9700a0;
}
.mobile {
    position: relative;
    z-index: 12;
}
.QRCode {
    width: 60px;
    height: 60px;
    border: 1px solid #cccccc;
    padding: 3px;
    position: absolute;
    right: 0;
    top: 35px;
}

.header {
    height: 140px;
}
.header_inner {
    height: 140px;
    position: relative;
}
.logo {
    width: 190px;
    height: 170px;
    position: absolute;
    top: -31px;
    left: 0;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, .2);
    border-bottom: 1px solid #e4e4e4;
}
.logo_title {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.logo a {
    display: block;
    width: 190px;
    height: 170px;
    background: url("../images/logo.jpg") no-repeat;
    font-size: 0;
}
.search {
    width: 550px;
    height: 35px;
    position: absolute;
    top: 25px;
    left: 320px;
}
.search input {
    width: 450px;
    height: 25px;
    padding: 4px 44px 4px 4px;
    border: 1px solid transparent;
    font-size: 15px;
    color: #989898;
    float: left;
    outline: none;
}
.search button {
    width: 50px;
    height: 35px;
    background-color: #9700a0;
    border: none;
    padding: 0;
    float: left;
    font-size: 20px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}
.search .photo_search {
    position: absolute;
    top: 6px;
    right: 65px;
}
.search a{
    font-size: 20px;
    color: #989898;
}
.search a:hover {
    color: #9700a0;
}
.dropdown {
    width: 188px;
    height: 33px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    position: absolute;
    top: 25px;
    right: 98px;
    text-align: center;
    line-height: 33px;
    color: #9700a0;
}
.dropdown a {
    color: #9700a0;
    font-size: 14px;
}
.dropdown .number{
    color: #ffffff;
    font-size: 12px;
    height: 14px;
    background-color: #9700a0;
    line-height: 14px;
    position: absolute;
    top: 3px;
    left: 142px;
    padding: 0 3px;
    border-radius: 8px;
}
.hotwords {
    width: 550px;
    height: 20px;
    position: absolute;
    top: 70px;
    left: 320px;
}
.hotwords a {
    float: left;
    font-size: 12px;
    color: #898989;
    margin-right: 10px;
}
.hotwords a:hover {
    color: #9700a0;
}
.navitem {
    position: absolute;
    width: 790px;
    height: 40px;
    padding-top: 20px;
    left: 200px;
    bottom: 0;
}
.navitem ul, .navitem li, .navitem .spacer {
    float: left;
}
.navitem li a{
    font-size: 14px;
    line-height: 40px;
    color: #444444;
    margin-left: 30px;
}
.navitem li a:hover {
    color: #9700a0;
}
.navitem .spacer {
    width: 1px;
    height: 10px;
    background-color: #cccccc;
    margin: 15px -10px 0 20px;
}
.hotday {
    width: 190px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: 10px;
}
.hotday a {
    display: block;
    width: 190px;
    height: 40px;
    border-radius: 20px;
    background-image: url("../images/computer.jpg");
}

.footer {
    height: 500px;
}

.footer_service {
    border-bottom: 1px solid #e1e1e1;
}
.footer_service_inner {
    padding: 30px 0;
}
.footer_service_inner li {
    float: left;
    width: 297px;
    height: 42px;
}
.footer_service_unit {
    position: relative;
    width: 225px;
    height: 42px;
    margin:0 auto;
}
.footer_service_tit {
    overflow: hidden;
    width: 36px;
    height: 42px;
    position: absolute;
    left: 0;
    top: 0;
    text-indent: -998px;
}
.tit_duo {
    background: url("../images/ico_service.png") no-repeat;
}
.tit_kuai {
    background: url("../images/ico_service.png") no-repeat 0 -43px;
}
.tit_hao {
    background: url("../images/ico_service.png") no-repeat 0 -86px;
}
.tit_sheng {
    background: url("../images/ico_service.png") no-repeat 0 -129px;
}
.footer_service_txt {
    line-height: 42px;
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    margin-left: 45px;
}
.footer_help {
    width: 1190px;
    height: 160px;
    padding: 20px 0px;
    margin:0 auto;
}
.help_nav {
    float: left;
    width: 198px;
    line-height: 22px;
}
.nav_tit {
    color: #666666;
    font-size: 14px;
    margin-bottom: 5px;
}
.nav_list a {
    color: #666666;
    font-size: 12px;
}
.nav_list a:hover {
    color: #9700a0;
}
.help_cover {
    float: right;
    width: 200px;
    height: 150px;
    background: url("../images/ico_footer.png") ;
    line-height: 22px;
}
.cover_tit {
    margin-bottom: 15px;
    color: #666666;
    font-size: 14px;
    text-align: center;
}
.cover_con{
    padding:0 10px;
}
.help_cover p {
    color: #666666;
    font-size: 12px;
}
.help_cover a {
    display: block;
    text-align: right;
    color: #666666;
}
.help_cover a:hover {
    color: #9700a0;
}
.footer_copyright {
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
    text-align: center;
}
.copyright_links {
    font-size: 12px;
}
.copyright_links a {
    color: #666666;
}
.copyright_links a:hover {
    color: #9700a0;
}
.copyright_split {
    color: #cccccc;
    margin: 0 5px;
}
.copyright_info {
    padding: 10px 0;
    font-size: 12px;
    line-height: 22px;
    color: #999999;
}
.copyright_info a {
    color: #999999;
}
.copyright_info span {
    margin: 0 5px;
}
.copyright_auth {
    margin: 20px 0;
    text-align: center;
}
.copyright_auth a {
    overflow: hidden;
    display: inline-block;
    width: 103px;
    height: 32px;
    line-height: 999px;
    margin: 0 3px;
    background: url("../images/ico_footer.png") no-repeat;
}
.copyright_auth .auth_icon1 {
    background-position: 0 -151px;
}
.copyright_auth .auth_icon2 {
    background-position: -104px -151px;
}
.copyright_auth .auth_icon3 {
    background-position: 0 -184px;
}
.copyright_auth .auth_icon4 {
    background-position: -104px -184px;
}
.copyright_auth .auth_icon5 {
    background-position: 0 -217px;
}
.copyright_auth .auth_icon6 {
    background-position: -104px -217px;
}
